@model UpdateOpenHoursDto

@{
    ViewData["Title"] = "UpdateOpenHours";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Çalışma Saatleri Güncelle</h4>
                        <p class="card-subtitle mb-4">Çalışma Saatleri Güncelleme işlemini burdan yapabilirsiniz. Veri girişinden sonra Güncelle butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="OpenHoursId" />
                                <label for="CategoryName">Hafta İçi</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="MidWeek">
                            </div>
                            <div class="form-group">
                                <label for="CategoryName">Hafta Sonu</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Weekend">
                            </div>
                            <div class="form-group">
                                <label for="CategoryName">Kapalı Gün</label>
                                <input type="email" class="form-control" id="exampleInputName" asp-for="ClosedDay">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

