@model List<MilkyProject.DtoLayer.AboutImagesDtos.ResultAboutImagesDto>

<div class="col-lg-6">
    <div class="row g-2">
        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
            <div class="about-experience bg-secondary rounded">
                <h1 class="display-1 mb-0">@ViewBag.years</h1>
                <small class="fs-5 fw-bold">Yıl Deneyim</small>
            </div>
        </div>
        @foreach(var item in Model)
        {
            <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="@item.ImageUrl">
            </div>
        }
        
        
    </div>
</div>
