@model MilkyProjectWebUI.Dtos.ProductDtos.CreateProductDto
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br />
        <label>Kategori Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />
        <input type="text" asp-for="OldPrice" class="form-control" />
        <br />
        <input type="text" asp-for="NewPrice" class="form-control" />
        <br />
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <input type="text" asp-for="Status" class="form-control" />
        <br />
        <button class="btn btn-info">Ekle</button>
    </div>
</form>
