@model List<MilkyProject.DtoLayer.AboutDtos.ResultAboutDto>

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            
            @await Component.InvokeAsync("_AboutImageComponentPartial")
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                @foreach(var x in Model)
                {
                    <p class="section-title bg-white text-start text-primary pe-3">Hakkımızda</p>
                    <h1 class="mb-4">@x.Title</h1>
                    <p class="mb-4">@x.Content</p>
                }
                
               
                @await Component.InvokeAsync("_AboutServiceComponentPartial")
                

                <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Daha Fazla Keşfet</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->